In [5]:
import pandas as pd

In [8]:
jobs = pd.read_csv("jobs.csv")

In [ ]:
filloc = 'jakarta'

In [21]:
filtered_jobs = jobs[jobs["Location"].str.contains(filloc, case=False)]

In [22]:
filtered_jobs

,Job Title,Company,Location
8,Marketing Staff,PT VPlus Platinum 8 Indonesia,"Setiabudi, Jakarta Selatan, DKI Jakarta, Indon..."
9,Marketing Staff,PT VPlus Platinum 8 Indonesia,"Setiabudi, Jakarta Selatan, DKI Jakarta, Indon..."
11,Finance Accounting,Pt Qinfa Mining Industri,"Kemayoran, Jakarta Pusat, DKI Jakarta, Indonesia"
14,SPG/SPM Demo Masak - Jakarta,PT Mitra Karsa Utama,"Sawah Besar, Jakarta Pusat, DKI Jakarta, Indon..."
15,Freelancer Trade Finance Professional,Trdfin Support Service Pvt Ltd,"Menteng, Jakarta Pusat, DKI Jakarta, Indonesia"
...,...,...,...
467,Customer Representative,Eudora International Group,"Kemayoran, Jakarta Pusat, DKI Jakarta, Indonesia"
469,Customer Service Representative / CSO,Eudora International Group,"Grogol Petamburan, Jakarta Barat, DKI Jakarta,..."
470,Future Leader Program,SG Batavia,"Jakarta Pusat, DKI Jakarta, Indonesia"
471,Staff Marketing Export,CV. Berkat Bintang Sejati,"Pesanggrahan, Jakarta Selatan, DKI Jakarta, In..."
476,Marketing Associate,PT VPlus Platinum 8 Indonesia,"Setiabudi, Jakarta Selatan, DKI Jakarta, Indon..."

In [13]:
filtered_jobs

[]